* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: all 1s ease-in-out;
}

:root {
  font-size: 10px;
}

@media (min-width: 768px) and (max-width: 1366px) {
  :root {
    font-size: 8.5px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  :root {
    font-size: 7.5px;
  }
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}

video {
  outline: none;
  height: 50rem;
  width: 50rem;
}

@media (max-width: 768px) {
  section {
    padding: 1rem;
  }
}

#highPriorityForContentToStandOut {
  z-index: 100;
}

.lato_regular_base, .regular_10, .regular_11, .regular_12, .regular_13, .regular_14 {
  font-family: "Lato_Lighty";
  color: black;
  font-weight: 400;
}

.regular_10 {
  font-size: 10px;
}

.regular_11 {
  font-size: 11px;
}

.regular_12 {
  font-size: 12px;
}

.regular_13 {
  font-size: 13px;
}

.regular_14 {
  font-size: 14px;
}

.italic {
  font-family: "Caveat", cursive;
  color: white;
}

.italic {
  font-family: "Caveat", cursive;
  color: white;
  font-weight: 700;
}

.montserrat-base, .montserrat-light, .montserrat-regular, .montserrat-semibold {
  font-family: "Montserrat", sans-serif;
}

.montserrat-light {
  font-weight: 300;
}

.montserrat-regular {
  font-weight: 400;
}

.montserrat-semibold {
  font-weight: 600;
}

.logoClsDiv {
  position: absolute;
  top: 42px;
  left: 115px;
}

.logoClsDiv img {
  height: 40px;
}

@media only screen and (min-width: 1px) and (max-width: 990px) {
  .toolbar_navigation-items a {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1px) and (max-width: 990px) {
  .logoClsDiv {
    position: absolute;
    top: 42px;
    left: 115px;
  }
}

.toggle-button {
  margin-top: 0px;
}

.toolbar__navigation {
  background: transparent;
}

/* nav right section  */
.toolbar_navigation-items {
  background-color: transparent;
}

.ShiftNavDownAlongWithBdy {
  margin-top: 0px;
}

.toolbar__navigation {
  height: 100%;
}

.toggle-button__line {
  background: white;
}

.toolbar_navigation-items a {
  color: white;
}

button {
  outline: none;
  border: none;
}

#heroSection {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../pages/img/heroSection-bg.png);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1366px) {
  #heroSection #leftPart {
    margin-left: 15rem;
  }
}

#heroSection #leftPart article {
  margin-top: 18rem;
}

#heroSection #leftPart article h3 {
  font-size: 3.5rem;
}

#heroSection #leftPart article h1 {
  color: white;
  font-size: 4.9rem;
}

#heroSection #leftPart article p {
  margin-top: 2.2rem;
  line-height: 2rem;
  color: white;
  font-size: 1.6rem;
}

#heroSection #leftPart article #buttonSection {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#heroSection #leftPart article #buttonSection button {
  color: white;
  height: 4.1rem;
  width: 13rem;
  border-radius: 15rem;
}

#heroSection #leftPart article #buttonSection #ourStory {
  margin-left: -10rem;
  background: #f42267;
}

#heroSection #leftPart article #buttonSection #readmore {
  margin-left: -12.2rem;
  background: #773491;
}

#heroSection #rightPart #heroMan {
  margin-top: 2rem;
  height: 65rem;
  width: 68rem;
}

@media (max-width: 768px) {
  #heroSection #rightPart #heroMan {
    height: 45rem;
    width: 48rem;
  }
}

#watchSection {
  background-image: url(../pages/img/watchSection-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1366px) {
  #watchSection article {
    margin-left: 5rem;
  }
}

#watchSection article h3 {
  margin-top: 5rem;
  color: black;
  font-size: 2.8rem;
}

#watchSection article h1 {
  font-size: 4rem;
}

#watchSection article #tabContainer {
  margin-top: 3.2rem;
}

#watchSection article #tabContainer .tabBtn {
  background: transparent;
}

#watchSection article #tabContainer .tabBtn {
  color: white;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2.2rem;
  height: 3.4rem;
  width: 10rem;
}

#watchSection article #tabContainer .inactive {
  color: black;
}

#watchSection article #tabContainer .active {
  cursor: pointer;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.55);
  background: #f42267;
}

#watchSection article #tabContainer .active:hover {
  box-shadow: none;
  transition: all 300ms ease;
  background: rgba(244, 34, 103, 0.5);
}

#watchSection article #tabContainer #buttonContainer p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

#watchSection article #tabContainer #buttonContainer #readmore {
  background: #f42267;
  border-radius: 2.3rem;
  margin-top: 4rem;
  height: 4.2rem;
  width: 12.8rem;
  color: white;
  padding: 1.2rem;
}

@media (max-width: 768px) {
  #watchSection article #tabContainer #buttonContainer #readmore {
    width: 14.8rem;
    padding: 0.2rem;
  }
}

#watchSection #watchImageContainer img {
  height: 45rem;
  width: 34rem;
}

@media (min-width: 1366px) {
  #watchSection #watchImageContainer img {
    margin-left: 10rem;
    margin-top: 4rem;
  }
}

#projectSection {
  background: #4b2d7f;
}

#projectSection #projectContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectSection #projectContainer #first,
#projectSection #projectContainer #second,
#projectSection #projectContainer #third {
  width: 50rem;
  background: #4b2d7f;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  padding: 8rem;
}

#projectSection #projectContainer #first p,
#projectSection #projectContainer #second p,
#projectSection #projectContainer #third p {
  text-align: center;
  color: #b29bdb;
  margin-top: 2rem;
  line-height: 2.2rem;
}

#projectSection #projectContainer #first h1,
#projectSection #projectContainer #second h1,
#projectSection #projectContainer #third h1 {
  font-size: 4rem;
}

#projectSection #projectContainer #first h2,
#projectSection #projectContainer #second h2,
#projectSection #projectContainer #third h2 {
  font-size: 2.7rem;
}

#projectSection #projectContainer #first img,
#projectSection #projectContainer #second img,
#projectSection #projectContainer #third img {
  margin-bottom: 2rem;
  height: 8rem;
}

#projectSection #projectContainer #second {
  background-color: #40286a;
}

#projectSection #projectContainer #second #employe {
  font-size: 1.9rem;
}

#projectSection #projectContainer #highly {
  font-size: 2.2rem;
}

#ideaSection {
  position: relative;
  background-image: url(../pages/img/ideaSection-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

#ideaSection #filterEffect {
  top: 0rem;
  position: absolute;
  width: 100vw;
  height: 100%;
  background: rgba(103, 102, 194, 0.7);
}

#ideaSection h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 0.7rem;
}

#ideaSection h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: white;
}

#ideaSection p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

#ideaSectionButton #ReadMore {
  padding: 1.6rem;
  color: white;
  border-radius: 2rem;
  background: #f42267;
  margin-top: 1.4rem;
}

#videoSection {
  padding: 3rem;
}

@media (min-width: 1366px) {
  #videoSection {
    margin-left: 10rem;
  }
}

#videoSection #videoSectionContainer #leftSection article h3 {
  font-size: 2.5rem;
}

#videoSection #videoSectionContainer #leftSection article h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

#videoSection #videoSectionContainer #leftSection article p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

#videoSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#videoSectionContainer #cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#videoSectionContainer #cardContainer #cardLeft {
  margin-right: 2rem;
}

#videoSectionContainer #cardContainer #cardLeft h1 {
  font-size: 3rem;
}

#videoSectionContainer #cardContainer #cardLeft p {
  margin: 1rem;
}

#videoSectionContainer #cardContainer #cardLeft button {
  padding: 1.6rem;
  color: white;
  border-radius: 2rem;
  background: #f42267;
  margin-top: 1.4rem;
}

#videoSectionContainer #cardContainer #cardRight {
  margin: 2rem;
}

#videoSectionContainer #cardContainer #cardRight h1 {
  font-size: 3rem;
}

#videoSectionContainer #cardContainer #cardRight p {
  margin: 1rem;
}

#videoSectionContainer #cardContainer #cardRight button {
  padding: 1.6rem;
  color: white;
  border-radius: 2rem;
  background: #f42267;
  margin-top: 1.4rem;
}

#workSection {
  padding-bottom: 4rem;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#workSection h1 {
  margin-top: 4rem;
  font-size: 3rem;
}

#workSection p {
  margin-top: 2rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
}

#workSection #buttonContainer {
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#workSection #buttonContainer .btn {
  border-radius: 2rem;
  color: white;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
}

#workSection #buttonContainer .inactive {
  color: black;
}

#workSection #buttonContainer .active {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.55);
  background: #f42267;
}

#workSection #productContainer {
  width: 90vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#workSection #productContainer #products {
  margin: 1rem;
}

#workSection #productContainer #products img {
  height: 30rem;
}

#workSection #workButtonContainer #workReadMore {
  margin-top: 2rem;
  height: 4.5rem;
  width: 14rem;
  border-radius: 0.6rem;
  color: white;
  background: #f42267;
}

#sponserSection {
  background: #4b2d7f;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sponserSection ol {
  padding-bottom: 2rem;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #sponserSection ol {
    width: 40vw;
  }
}

#sponserSection ol li {
  margin: 1rem 3rem;
}

#sponserSection ol li img {
  transform: scale(0.7);
}

@media (max-width: 768px) {
  #sponserSection ol li img {
    transform: scale(0.6);
  }
}

#testimonialSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../pages/img/testimonialSection-bg.png);
}

#testimonialSection #leftPart h3 {
  color: white;
  font-size: 3.4rem;
}

#testimonialSection #leftPart h1 {
  color: white;
  font-size: 3.6rem;
}

#testimonialSection #leftPart span {
  font-size: 6.7rem;
  color: #f42267;
}

#testimonialSection #leftPart dl {
  position: relative;
  color: white;
}

#testimonialSection #leftPart dl #comma {
  top: -3rem;
  position: absolute;
}

#testimonialSection #leftPart dl p {
  font-size: 1.6rem;
  padding-left: 4rem;
  margin-top: 5rem;
}

#testimonialSection #leftPart #feedBackContainer #starContainer,
#testimonialSection #leftPart #feedBackContainer #johnDoe {
  padding-left: 4rem;
  color: white;
  font-size: 1.8rem;
}

#testimonialSection #leftPart #feedBackContainer #starContainer {
  margin-top: 3rem;
  font-size: 3rem;
  color: #f42267;
}

#testimonialSection #rightPart img {
  width: 33rem;
  height: 52rem;
}

#testimonialSection #rightPart,
#testimonialSection #leftPart {
  margin: 0rem 4rem;
}

#helpSection {
  display: flex;
  padding: 3rem;
  align-items: center;
  flex-direction: column;
  background-image: url(../pages/img/helpSection.png);
}

#helpSection h1 {
  font-size: 3rem;
  color: white;
  margin: 0.2rem;
}

#helpSection h2 {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

#helpSection p {
  color: white;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 3rem;
}

#nameEmail {
  flex-wrap: wrap;
  justify-content: center;
}

#nameEmail input {
  padding: 2rem;
  height: 4rem;
  width: 35rem;
  border-style: none;
  border-radius: 0.5rem;
  margin: 1.2rem;
  background: #f66f9b;
  color: white;
}

::placeholder {
  color: white;
}

input {
  outline: none;
}

#helpSection #nameEmail button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: #4b2d7f;
  color: white;
}

#socialMediaSection {
  padding: 4rem 0rem;
  background: #4b2d7f;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socialMediaSection a {
  margin: 2rem;
  border-right: 2px solid #794ec4;
  padding: 0rem 2rem;
}

#socialMediaSection a button {
  background: none;
  color: white;
  font-size: 2rem;
}

#companySection {
  background-image: url(../pages/img/companySectionBg.png);
  padding-bottom: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#companySection #companyLeftSide {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
}

#companySection #companyLeftSide h1 {
  font-size: 2.5rem;
  color: #384e94;
  margin-bottom: 1rem;
}

#companySection #companyLeftSide ol {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 3rem;
}

#companySection #companyRightSide #galleryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  flex-wrap: wrap;
}

#companySection #companyRightSide #galleryContainer img {
  width: 30rem;
  border-radius: 2rem;
  margin: 1rem;
}

footer {
  position: relative;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ol {
  font-size: 2rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  position: absolute;
  top: -3rem;
}

footer ol li {
  margin: 0rem 2rem;
}
